* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",
        sans-serif;
    list-style: none;
}

nav img {
    height: 30px;

}

body {
    background-color: black;
}

nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4rem;
    color: white;

}

.logo {
    font-size: 2.6rem;
    padding: 1rem;
}

.home-icon {
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: rgba(86, 75, 75, 0.676);
    border-radius: 50%;
    color: rgb(164, 161, 161);
    transition: all 0.2s ease;
}

.left-half {
    display: flex;
    align-items: center;

}

.home-icon:hover {
    color: white;
    transform: scale(1.04);
    cursor: pointer;
}

.search-bar {
    display: flex;
    gap: 1rem;
    margin: 0 2rem;
    background-color: rgb(56, 54, 54);
    height: 3rem;
    width: 25rem;
    align-items: center;
    padding: 0 1rem;
    border-radius: 30px;
    justify-content: space-between;

}

.search-bar:hover {
    border: 1px solid white;
}

.search-icon {
    font-size: 1.3rem;
    color: rgb(164, 161, 161);
    transition: 0.3s;

}

.search-bar:hover .search-icon {
    color: white;
}

.search-input-box {
    width: 78%;
    background: transparent;
    border: none;
    height: 50%;
    color: white;
    padding: 0.3rem;
    font-size: 1rem;
    border-right: 1.5px solid black;
}

.folder {
    font-size: 1.3rem;
    color: rgb(164, 161, 161);
    transition: 0.3s;
}

.folder:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.06);
}

.right-half {
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
}

.right-half-p1 {
    display: flex;
    margin: 0 2rem;
    border-right: 1.5px solid gray;
    height: 50%;
    align-items: center;
    padding-right: 0.6rem;
    color: rgb(164, 161, 161);
    font-weight: 600;

}

.right-half-p1 p {
    margin: 0 0.8rem;
    transition: all 0.5s;
}

.right-half-p1 p:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.right-half-p2 {
    display: flex;
    margin: 0 2rem;
    height: 50%;
    align-items: center;
    gap: 1rem;
}

.right-half-p2 {
    display: flex;
    margin: 0 2rem;
}

.right-half-p2 p {
    color: rgb(164, 161, 161);
    transition: all 0.3s;
}

.right-half-p2 p:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.install {
    display: flex;
    gap: 0.4rem;
    color: rgb(164, 161, 161);
    transition: all 0.3s;
}

.install:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: white;
}

.login-butt {
    height: 100%;
    padding: 0 1rem;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    transition: all 0.3s;
}

.login-butt:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    width: 100vw;
    height: 85vh;
    background-color: black;
    color: white;
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}

.main-left-part {

    width: 25%;
    background-color: rgb(36, 35, 35);
    padding: 2rem 0;
    height: 100%;
    border-radius: 12px;
}

.library {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-heading {
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-weight: bolder;
    align-items: center;
    font-size: larger;
}

.library-heading i {
    padding: 0.5rem;
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.library-heading i:hover {
    transform: scale(1.05);
}

.playlist-container {
    background-color: rgb(66, 66, 66);
    width: 80%;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
    border-radius: 20px;
}

.podcast-container {
    background-color: rgb(66, 66, 66);
    width: 80%;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
    border-radius: 20px;
}

.podcast-container button,
.playlist-container button {
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    transition: all 0.3s;
}

.podcast-container button:hover,
.playlist-container button:hover {
    background-color: rgb(144, 144, 144);
    cursor: pointer;
}

.main-right-part {
    background-color: rgb(36, 35, 35);
    width: 75%;
    height: 100%;
    border-radius: 20px;
    overflow: auto;
}

.main-right-part::-webkit-scrollbar {
    width: 10px;
    /* vertical scrollbar */
}

.main-right-part::-webkit-scrollbar-track {
    background: transparent;
    /* no visible track */
}

.main-right-part::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    /* Spotify-like gray */
    border-radius: 10px;
}

.main-right-part::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a;
}

.music-banner {
    padding: 2rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.horizontal-music {
    overflow-x: auto;
    display: flex;
    gap: 0.5rem;
}

.music-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    width: 12rem;
    height: 15rem;
    background-color: rgb(36, 35, 35);
    transition: all 0.3s ease;
    border-radius: 12px;
    padding: 0.6rem;
}

.music-card-image {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.music-card-image i {
    position: absolute;



    font-size: 1.2rem;
    color: black;
    background-color: #1db954;

    padding: 0.8rem;
    border-radius: 50%;
    opacity: 0;
    bottom: 10px;
    right: 1px;
    transition: all 0.3s ease;
}

.music-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.horizontal-music::-webkit-scrollbar {
    display: none;
}

.music-card:hover {
    background-color: rgb(100, 97, 97);
    cursor: pointer;

}

.music-card:hover .music-card-image i {
    opacity: 1;
    animation: spin 0.3s ease-out forwards;
}

.music-card-image i:hover {
    transform: scale(1.3);
    background-color: #50c97a;
}

@keyframes spin {
    0% {
        opacity: 0;
        transform: rotate(-180deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.player-bar {
    width: 100%;
    height: 5rem;
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: rgb(141, 137, 137);
    position: absolute;
    bottom: 0px;
}

.now-bar {
    display: flex
}

.now-bar img {
    height: 40px;
}

.music-controller {
    display: flex;
    flex-direction: column;
    width: 50%;


}

.image-text {
    margin-left: 1rem;
    color: white;
}

.music-controls-container {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    margin-bottom: 1rem;

}

.music-controls-container i:hover {
    color: white;
    cursor: pointer;
}

input[type="range"] {
    width: 100%;
}

.progress-container {
    width: 100%;
    max-width: 500px;
}

/* remove default styling */
#progressBar {
    appearance: none;
    width: 100%;
    height: 4px;
    background: #4d4d4d;
    /* inactive track */
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}